@use '../../foundation/base' as *;
.c-archive-menu__title {
  font-size: 2rem;
  font-family: $font-jp;
  font-weight: bold;
  @include pc {
    font-size: 3.6rem;
  }
}

.c-archive-menu__sub-title {
  font-size: 1.6rem;
  font-family: $font-jp;
  font-weight: bold;
  @include pc {
    font-size: 2.4rem;
  }
}
