@use '../../foundation/base' as *;
//ヘッダー直下のアーカイブビジュアルのフォント
.c-archive-font--main {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fff;
  font-family: $font-en;

}

.c-archive-font--sub {
  font-size: 1.6rem;
  font-family: $font-jp;
  color: #fff;
}