@use '../../foundation/base' as *;
.p-EatIn {
  background-image: url(../../../img/EatIn.jpg);
  height: 642px;
  background-size: cover;
  position: relative;
  .c-section-title-font {
    padding: 15px;
    color: #ffffff;
  }
  .c-section-border {
    margin-left: 15px;
  }
  .c-section-sub-font {
    padding: 15px;
  }
  .c-section-text-font {
    padding: 0 15px;
  }
  .p-box1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
  }
  .p-box2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 186px;
  }

}
