@use '../../foundation/base' as *;
.p-map {
  background-image: url(../../../img/スクリーンショット\ 2020-02-10\ 11.47.42.jpg);
  background-size: cover;
  .p-map__layer {
    width: 100%;
    height: 691px;
    background-color: rgba(0, 0, 0, 0.2);
    .p-map__layer__black {
      width: 100%;
      height: 415px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .p-map__text-box {
    padding: 42px 8%;
    .c-map-title-font {
      padding-bottom: 20px;
    }
    .c-section-border {
      width: 75px;
      height: 2px;
      background-color: #fff;
    }
    .c-map-text-font {
      padding-top: 20px;
      line-height: 30px;
    }
  }
}
