.l-header {
  padding-top: 9.5px;
  text-align: center;
  height: 215px;
  background-color: #fff7ef;
}
.l-header__logo {
  font-size: 4rem;
  font-weight: bold;
  color: #707070;
  padding-top: 43px;
}
